
html, body{
  margin: 0;
  padding: 0 0;
  background: #120e3b;
}
p, li, body {
    color: #c9a72b;
    margin: 0;
    padding: 0 0;
    font-family: Helvetica
}
p, li {
    margin: 14px 180px;
    font-size: 16px;
}
p.picture{
    vertical-align:middle;
    display:inline;
    margin: 20px 10px;
}
h1 {
    margin: 20px 180px;
    font-size: 40px;
}
h2{
    margin: 20px 180px;
    font-size: 30px;
}

header{
    background: #002;
}
hr{
    border-color: #732e11;
}

.nav ul li{
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 20px;
  margin: 0 0;
}

li.asdf {
    background: #004;
    transition: background .5s;
}
.btn:hover, .nav ul li:hover {
  background: #008;
  cursor: pointer;
  transition: background .5s;
}
